@import "compass";

@import "bootstrap";

$header_font: 'Roboto Slab', sans-serif;

body {
    color: #565656;
    font-family: 'Open Sans';
    font-size: 11pt;
    line-height: 150%;
}
h1 {
    font-size: 40pt;
    color: #010101;
    font-family: $header_font;
}
h2 {
    font-size: 22pt;
    font-family: $header_font;
}
h3 {
    font-family: $header_font;
}
#rigveda {
    color: #898989;
    font-weight: 300 !important;
}
#footer {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline;
        padding: 0;
        margin: 0;
    }
    img {
        padding: 0;
        margin: 0.7em 0.5em;
        height: 2em;
        opacity: 0.5;
        transition: opacity 0.5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -webkit-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);

        &:hover {
            opacity: 1;
            transition: opacity 0.5s ease-out;
            -moz-transition: opacity .5s ease-out;
            -webkit-transition: opacity .5s ease-out;
            -o-transition: opacity .5s ease-out;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }
}
