<br/>
<br/>
<br/>
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <center>
                    <ul>
                        <li><a href="mailto:pesos@pes.edu" target="_blank"><img src="{{ root_url }}/images/icons/email.png" alt="Email"/></a></li>
                        <li><a href="https://github.com/pesos" target="_blank"><img src="{{ root_url }}/images/icons/github.png" alt="Github"/></a></li>
                        <li><a href="https://facebook.com/groups/pesosc" target="_blank"><img src="{{ root_url }}/images/icons/facebook.png" alt="Facebook"/></a></li>
                        <li><a href="https://twitter.com/pesopensource" target="_blank"><img src="{{ root_url }}/images/icons/twitter.png" alt="Twitter"/></a></li>
                        <li><a href="https://plus.google.com/108550007046676528013" target="_blank"><img src="{{ root_url }}/images/icons/googleplus.png" alt="Google+"/></a></li>
                        <li><a href="https://youtube.com/user/pesopensource" target="_blank"><img src="{{ root_url }}/images/icons/youtube.png" alt="YouTube"/></a></li>
                        <li><a href="https://groups.google.com/forum/#!forum/pes-opensource"><img src="{{ root_url }}/images/icons/mailinglist.png" alt="Mailing List"/></a></li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
</footer>
