<header id="header" class="headroom">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="pull-left">
                    <a class="navbar-brand" href="{{ }}"><strong style="display: inline;"><span style="color: #27a201; padding-right: 0.3em">PES</span><span style="color: #000000;">OpenSource</span></strong></a>
                </span>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a disabled="true"><strong>Coming Soon!</strong></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</header>
