#footer {
    background-color: $gray-lighter;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li {
        display: inline;
        padding: 0;
        margin: 0;
    }
    img {
        padding: 0;
        margin: 0.7em 0.5em;
        height: 2em;
        opacity: 0.5;
        transition: opacity 0.5s ease-out;
        -moz-transition: opacity .5s ease-out;
        -webkit-transition: opacity .5s ease-out;
        -o-transition: opacity .5s ease-out;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);

        &:hover {
            opacity: 1;
            transition: opacity 0.5s ease-out;
            -moz-transition: opacity .5s ease-out;
            -webkit-transition: opacity .5s ease-out;
            -o-transition: opacity .5s ease-out;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }
}
